// Long Cang
@import url(https://chinese-fonts-cdn.deno.dev/packages/yzklct/dist/有字库龙藏体/result.css);
// Zhi Mang Xing 
@import url(https://chinese-fonts-cdn.deno.dev/packages/zqzmxs/dist/钟齐志莽行书/result.css);

@font-face {
    font-family: SanJiXingKaiJianTi;
    src: url('/fonts/SanJiXingKaiJianTi-Cu-2.ttf')format('truetype');
    font-display: swap;
}